.brushes{
  background-color: mediumspringgreen;
}
.frames{
  background-color: lightcoral;
}
h1{
  font-family: helvetica;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}
h2{
  font-family: helvetica;
  font-size: 32px;
  font-weight: bold;
  color: white;
}
.header {
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg) no-repeat center center;
  background-size: cover;
  height: 110px;
  text-align: center;
}
.paint{
  background-color: skyblue;
}
Strong{
  font-family: helvetica;
  color: blue;
}
